.container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centers the boxes horizontally */
    gap: 15px; /* Adds space between each box */
    padding: 20px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 80px;
    background-color: #42f9f6;
    border: 1px solid #9de5ff;
    border-radius: 8px;
    font-weight: bold;
    color: #07f1d6;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.box:hover {
    background-color: #91f2ff;
    transform: scale(1.05);
}

.box-title {
    padding: 0 10px;
}